name: Node.js Package

on:
  release:
    types: [created]

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "24.12.0"
          registry-url: 'https://registry.npmjs.org'
          check-latest: true
      - run: npm ci
      - run: npm test
      - run: npm ci
      - run: npm publish

